{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="GET" enctype="multipart/form-data">
            <fieldset class="form-group">
                <legend class="border-bottom border-top mb-4">Date range</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">OK</button>
            </div>
        </form>
    </div>
{% endblock content %}